*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: azure;
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: darkslategray;

}
#fecha{
    text-align: center;
    color: dimgray;
    font-weight: normal;
    font-size: 30px;
}
#hora{
    text-align: center;
    color: dimgray;
    font-weight: normal;
    font-size: 20px;
}
.container{
    width: 700px;
    background-color: rgb(44, 190, 81);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}
.acceso{
    color: rgb(34, 9, 124);
}
.cedula{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 20px;
    outline: none;
}
.botones{
    display: flex;
    margin-top: 10px;
}
.entrada{
    background-color: aqua;
    width: 100%;
    padding: 25px 35px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.salida{
    background-color: darkseagreen;
    width: 100%;
    padding: 25px 35px;
    color: white;
    text-align: center;
    text-decoration: none;
}